<footer>
    <div class="footer row">
        <div class='itemFooter'>
            <span>mentions legales</span>
        </div>
        <div class='itemFooter'>
            <span>a propos</span>
        </div>
        <div class='itemFooter'>
            <span>retours et livraison</span>
        </div>
    </div>
</footer>