<div class="menu">
    <ul>
        <div class="row">
            <div class='col-md-6 bouton'><a href="{{ path('category_index') }}" class='itemMenu'>category</a></div>
            <div class='col-md-6 bouton'><a href="{{ path('product_index') }}" class='itemMenu'>products</a></div>
        </div>
    </ul>
</div>